<table style='margin-top:20px;width:100%;'>
    <tr>
        <td style="vertical-align: middle;font-size: 18px;font-weight: bold;">Laboratóriumi lelet</td>
        <td style="width:10px;white-space: nowrap;font-weight: bold;vertical-align: middle;font-size: 14px;">Azonosító:&nbsp;&nbsp;</td>
        <td style="width:10px;white-space: nowrap;vertical-align: middle;">1234567</td>
    </tr>
</table>

<table style='margin-top:20px;width:100%;'>
    <tr>
        <td style="width:50%;background:#ccc !important;padding:5px;text-align: center;font-weight: bold;font-size: 14px;">Páciens</td>
        <td style="width:20px;">&nbsp;&nbsp;&nbsp;</td>
        <td style="width:50%;background:#ccc;padding:5px;text-align: center;font-weight: bold;font-size: 14px;">Beküldő</td>
    </tr>
    <tr>
        <td>
            <div style="font-size: 16px;font-weight: bold;margin-top:10px;">#nev#</div>
            <table style='margin-top:10px;'>
                <tr>
                    <td class="cell">Születési időc&nbsp;&nbsp;&nbsp;</td>
                    <td class="cell">#szuletesihelyesdatum#</td>
                </tr>
                <tr>
                    <td class="cell">TAJ</td>
                    <td class="cell">#taj#</td>
                </tr>
                <tr>
                    <td class="cell">Lakcím</td>
                    <td class="cell">#lakcim#</td>
                </tr>
                <tr>
                    <td class="cell">Mintavétel</td>
                    <td class="cell">#mintaveteldatum#</td>
                </tr>
            </table>
        </td>
        <td></td>
        <td>
            <div style="font-size: 16px;font-weight: bold;margin-top:10px;">Hungária Med-M Kft. (000000719)</div>
            <table style='margin-top:10px;'>
                <tr>
                    <td class="cell">Orvos</td>
                    <td class="cell">Dr. Magyar Judit Katalin (44601)</td>
                </tr>
                <tr>
                    <td class="cell">Cím</td>
                    <td class="cell">1135 Budapest, Jász utca 33-35.</td>
                </tr>
                <tr>
                    <td class="cell">Telefon&nbsp;&nbsp;&nbsp;</td>
                    <td class="cell">+36 1 / 800 9333</td>
                </tr>
                <tr>
                    <td class="cell">&nbsp;</td>
                    <td class="cell">&nbsp;</td>
                </tr>
            </table>

        </td>
    </tr>
</table>




<div style='margin-top:20px;padding:5px;font-size:18px;font-weight:bold;text-align:center;border:1px solid #000;'>
    Eredmény
</div>
<div style='border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;padding:10px;height:650px;'>
    #laboreredmenysorok#
</div>



<div style='padding-top:20px;text-align: center;'>#pagenum# oldal</div>

<div style='page-break-after: always;'></div>

