<!DOCTYPE HTML>
<html>
<head>
    <title>Mak report</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    <style>
        body {
            font-family:Calibri;
            font-size:14px;
            print-color-adjust: exact;
        }
        table {
            border-collapse: collapse;
        }

        td {
            padding:0px;
        }
        .cell {
            padding:2px 5px 2px 0px;
        }
    </style>

</head>
<body>

<div style='width:700px;padding:0px 50px;'>

    #report#

</div>
</body>