.monthlytable {

}

.monthlycell {
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    width: 150px;
    height: 170px;
    background: #f8f8f8;
}

.mtweekday {
    height: 30px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background:#eee;
}

.mthead {
    text-align: center;
    font-size: 22px;
    padding:20px 0px;
    font-weight: bold;
}

.dailysmallbutton {
    cursor: pointer;
    display:inline-block;
    vertical-align: middle;
    padding:5px;
    width: 28px;
    font-size: 18px;
    background:#888;
    color:#fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.dailybutton {
    cursor: pointer;
    display:inline-block;
    vertical-align: middle;
    padding:5px;
    font-size: 14px;
    background:#888;
    color:#fff;
    border-radius: 4px;
    box-sizing: border-box;
}

.dailyeditorhead {
    padding:10px;
    font-size: 14px;
    font-weight: bold;
    background:#0ca3c9;
    color:#fff;
}

.dailyeditorheaderror {
    background: #b90000;
}

.dailystatuploadbutton {
    font-size: 14px;
    box-sizing: border-box;
    background:#a9a9a9;
    color:#fff;
    padding:8px 10px;
    border-radius: 3px;
    text-decoration: none;
}

.dailystatuploadbutton:hover {
    text-decoration: none;
}



.yearlycell {
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    padding: 10px;
    width: 250px;
    height: 240px;
    background: #f8f8f8;
}
