@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body {
    /*    background-color:#83c1c0;

     */
    background-color: #eeeeee;
    padding:0px;
    margin:0px;
    color:#444;
    font-size:14px;
    font-family:robotoregular;
}

a {
    color:#a00;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

h2 {
    margin:0px 0px 20px 0px;
}

.toplink {
    color:black;
}
.toplink:hover {
    color:#a90000;
}

.td {
    display:table-cell;
}

.pagecontainer {
    /*width:1200px;*/
    margin:0px auto;
}
.headercontainer {
    margin:20px 0px;
    padding:0px 40px;
    color: #888;
}
.contentcontainer {
    margin:20px;
    min-height:0px;
    background-color:#fff;
    border-radius:5px;
}

.footercontainer_hungariamed {
    background: #b90000;
    color:#fff;
    padding:20px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.footercontainer_keltexmed {
    background: #739db0;
    color:#fff;
    padding:20px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.footercontainer_suzuki {
    /* background:#3786be; */
    background: #003145;
    color:#fff;
    padding:20px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

select {
    border:1px solid #ccc;
    padding:3px;
    color:#555;
}

textarea {
    font-family:robotoregular;
    font-size:12px;
    border:1px solid #ccc;
    color:#555;
    padding:3px;
}

input:not([type]), input[type="text"] , input[type="password"]{
    border:1px solid #ccc;
    color:#555;
    padding:3px;
}



.simabutton {
    display:inline-block;
    box-sizing: border-box;
    border:0px solid #888;
    background-color:#ddd;
    padding:5px 10px;
    font-size:14px;
    color:#444;
    cursor:pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration:none;
    -webkit-transition: background .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.simabutton:hover {
    text-decoration:none;
    background-color:#888;
    color:#fff;
}




.ujnumber {
    color:#fff;
    background:#f00;
    border-radius:10px;
    font-size:11px;
    padding:2px 5px;
}

.mainmenuitem {
    display:block;
    border-left:5px solid #eee;
    width:180px;
    color:#666;
    text-align:left;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    padding:15px 8px 15px 18px;
}
.mainmenuitem_aktiv {
    display:block;
    border-left:5px solid #3ba9b8;
    width:180px;
    color:#000;
    text-align:left;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    background-color:#fff;
    padding:15px 8px 15px 18px;
}
.mainmenuitem_aktiv:hover {
    text-decoration:none;
}
.mainmenuitem:hover {
    border-left:5px solid #fff;
    background-color:#fff;
    text-decoration:none;
}

.menuoszlop {
    min-height:500px;
    background-color:#eee;

}

.statussor {
    background-color:#a00;color:#fff;font-size:28px;
    padding:10px;
    text-align:center;
    cursor:pointer;
}
.loginsor {
    padding:10px 10px 10px 20px;
    margin-top:-33px;;
}
.footersor {
    color:#888;
    font-size:12px;
    padding:20px;
}

.szamlalo {
    text-align:right;
    padding:10px;
}

.rendeles_megnezett {
    cursor:pointer;
    background-color:#eee;
    color:#222;
}
.rendeles_megnezett:hover {
    background-color:#ddd;
}

.rendeles_uj {
    cursor:pointer;
    background-color:#fea023;
    color:#fff;
}

.rendeles_uj:hover {
    background-color:#a00;
}

.nagyobb {
    font-size:16px;
    font-weight:bold;
}

.pagehead {
    margin-bottom:20px;
    padding:15px;
    background:url(../images/fejlecminta.png);
    font-size:24px;
    border-bottom:4px solid #ccc;
    text-transform:uppercase;
}

.tcella {
    padding:8px 8px 8px 0px;
}
.tcellakateg {
    padding:8px 8px 8px 0px;
    background-color:#eee;
}


.tcellahead {
    padding:8px 8px 8px 0px;
    background-color:#ccc;
    color:#fff;
    font-weight:bold;
}

.aktivjelzes {
    background-color:#0a0;
    width:15px;
    height:15px;
    cursor:pointer;
}
.inaktivjelzes {
    background-color:#f00;
    width:15px;
    height:15px;
    cursor:pointer;
}


.idopontchooser {
    display:block;
    border:2px solid #888;
    width:50px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    margin:2px;
    padding:6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}
.idopontchooser:hover {
    text-decoration:none;
}
.idopontselected {
    border:2px solid #000;
}

.ic_free {
    background-color:#ccc;
}

.ic_reserved {
    background-color:#a00;
}
.ic_lastminute {
    background-color:#ff0;
    color:#000;
}
.ic_tiltott {
    background-color:#000;
    color:#888;
}

.ic_kamu {
    background-color:#fafafa;
    color:#ff0000;
}


.hetlink {
    display:block;
    border:1px solid #000;
    background-color:#ccc;
    width:120px;
    color:#000;
    text-align:center;
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    margin:2px;
    padding:6px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}
.hetlink:hover {
    background-color:#888;
    color:#fff;
    text-decoration:none;
}

.prev {
    float:left;
}
.next {
    float:right;
}

.ujbutton {
    display:inline-block;
    margin-left:20px;
    padding:5px 10px 5px 10px;
    color:#fff;
    font-size:14px;
    background-color:#41b6c6;
    border:1px solid #3ba9b8;
    text-transform:lowercase;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ujbutton:hover {
    background-color:#3ba9b8;
    text-decoration:none;
}

.fejlecdiv {
    font-family:robotolight;
    color:#000;
    font-size:32px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    line-height: 35px;
}

.fejlecdiv_suzuki {
    font-family:robotolight;
    background:#003145;
    color:#fff;
    font-size:32px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fejlecdiv_hungariamed {
    background-image:url(https://www.hungariamed.hu/images/slide007.jpg);
    /*background-image:url(/images/house.jpg);*/
    background-position: center top;
    background-size:cover;
    font-family:robotolight;
    color:#000;
    font-size:32px;
    height:300px;
    border-bottom: 5px solid #b90000;
    display:table-cell;
    vertical-align: middle;
}

.fejlecdiv_keltexmed {
    background-image:url(/images/dr_stock.jpg);
    /*background-image:url(/images/house.jpg);*/
    background-position: center top;
    background-size:cover;
    font-family:robotolight;
    color:#000;
    font-size:32px;
    height:300px;
    border-bottom: 5px solid #7697aa;
    display:table-cell;
    vertical-align: middle;
}


.inner_text_hungariamed {
    margin:20px 20px 20px 20px;
    padding:20px;
    font-size: 28px;
    font-family: robotolight;
    display:inline-block;
    background-color: rgba(255,255,255,.5);
    line-height: 25px;
}

.inner_text_keltexmed {
    margin:20px 20px 20px 60px;
    padding:20px;
    font-size: 28px;
    font-family: robotolight;
    display:inline-block;
    background-color: rgba(255,255,255,.5);
    line-height: 25px;
}

.foglaltbutton {
    margin-top:3px;
    display:inline-block;
    padding:1px 10px;
    border-radius:4px;
    border:1px solid #ccc;
    background: #ddd;
    color:#bbb;
    text-decoration:none;
    line-height: 25px;
}

.foglaltbutton:hover {
    text-decoration:none;
}

.foglalhatobutton {
    margin-top:3px;
    display:inline-block;
    padding:1px 10px;
    border-radius:4px;
    border:1px solid #0a0;
    background: #0a0;
    color:#fff;
    text-decoration:none;
}

.foglalhatobutton:hover {
    text-decoration:none;
    background: #0f0;
}

.beutalobox {
    padding:10px 20px;
    border-radius:10px;
    background:#fff0db;
    margin-bottom:20px;
}

.simabuttonpiros {
    background:#f00;
    padding:5px 10px;
    font-size:14px;
    color:#fff;
    cursor:pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration:none;
}
.simabuttonpiros:hover {
    background:#e00;
    text-decoration:none;
}

.halv {
    opacity:.6;
}

.newbutton {
    display:inline-block;
    /* background:#3786be; */
    background: #b90000;
    padding:8px 15px;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    cursor:pointer;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    cursor: pointer;
}
.newbutton:hover {
    text-decoration:none;
    background:#a90000;
    color:#fff;
}

.chooseReservationButton{
    background: #b90000;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    cursor:pointer;
    padding:8px 15px;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    border-color:#b90000;
    outline: inherit;
    border:none;
}

.chooseReservationButton:hover {
    text-decoration:none;
    background:#a90000;
    color:#fff;
}

.newbuttongray {
    display:inline-block;
    /* background:#3786be; */
    background: #808080;
    padding:8px 15px;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    color:#fff;
    cursor:pointer;
    -moz-border-radius:3px;
    border-radius:3px;
    text-decoration:none;
    cursor: pointer;
}
.newbuttongray:hover {
    text-decoration:none;
    background:#666666;
    color:#fff;
}

.redversion {
    opacity:.5;
    background:#a00;
    color:#fff;
}
.redversion:hover {
    opacity:1;
    background:#a00;
}

.greenversion {
    background:#51ad65;
    color:#fff;
}
.greenversion:hover {
    opacity:1;
    background:#489d60;
}

.blueversion {
    background:#0277bd;
    color:#fff;
}
.blueversion:hover {
    opacity:1;
    background:#0168a6;
}

.tipusmegj {
    background:#ff7777;
    color:#fff;
    padding:10px;
    display:inline-block;
    font-weight:bold;
}

.foglaltbtn {
    margin-top:3px;
    display:inline-block;
    padding:2px 10px;
    border-radius:4px;
    background:#ddd;
    color:#bbb;
    text-decoration:none;
}
.foglaltbtn:hover {
    text-decoration:none;
}

.foglalhatobtn {
    margin-top:3px;
    display:inline-block;
    padding:2px 10px;
    border-radius:4px;
    background:#95c55b;
    color:#fff;
    text-decoration:none;
}

.foglalhatobtn:hover {
    text-decoration:none;
    background:#81bc57;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor:pointer;
}


.upbtn {
    background: gray;
    background-color: gray;
    color:#fff;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}


.warnidopontpress {
    background:#41b6c6;
    color:#fff;
    padding:8px;
    border-radius:10px;
    margin-left:-1px;
}

.lelet-unitv2{
    color:#000;
    cursor:pointer;
    text-decoration:none;
}
.lelet-unitv2:hover{
    color:#e10000;
    text-decoration:underline;
}
.target-lelet{
    display:none;
}
.lelet-frame{
    height:842px;
    width:595px;
    border:1px solid black;
    margin-top:20px;
    padding:5px;
}
.user-button{
    border:0px solid #888;
    background-color:#aaa;
    padding:5px 10px;
    font-size:14px;
    color:#fff;
    cursor:pointer;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
.user-button:hover{
    background-color:#888;
    color:#fff;
}

.addmegjlink {
    cursor:pointer;
    color:#f00;
    user-select: none;
}
.addmegjlink:hover {
    text-decoration:underline;
}
.design-put {
    background: #fff;
    color: #525865;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    font-family: Montserrat;
    font-size: 16px;
    line-height: 20px;
    outline: none;
    width:300px;
    padding: 10px 15px 10px;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

.design-put:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
.design-put:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.backButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
    background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
    background-color:#f9f9f9;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.backButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
    background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
    background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#e9e9e9;
}
.backButton:active {
    position:relative;
    top:1px;
}
.forwardButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
    background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
    background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
    background-color:#3d94f6;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1570cd;
}
.forwardButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
    background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
    background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
    background-color:#1e62d0;
}
.forwardButton:active {
    position:relative;
    top:1px;
}
.finishButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #840102;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9d0102), color-stop(1, #d00103));
    background:-moz-linear-gradient(top, #9d0102 5%, #d00103 100%);
    background:-webkit-linear-gradient(top, #9d0102 5%, #d00103 100%);
    background:-o-linear-gradient(top, #9d0102 5%, #d00103 100%);
    background:-ms-linear-gradient(top, #9d0102 5%, #d00103 100%);
    background:linear-gradient(to bottom, #9d0102 5%, #d00103 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d0102', endColorstr='#d00103',GradientType=0);
    background-color:#9d0102;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
.finishButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
    background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
    background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
    background-color:#ce0100;
}
.finishButton:active {
    position:relative;
    top:1px;
}
.main-page-button{
    cursor:pointer;
    background: #9d0102;
    background-image: -webkit-linear-gradient(top, #9d0102, #f00004);
    background-image: -moz-linear-gradient(top, #9d0102, #f00004);
    background-image: -ms-linear-gradient(top, #9d0102, #f00004);
    background-image: -o-linear-gradient(top, #9d0102, #f00004);
    background-image: linear-gradient(to bottom, #9d0102, #f00004);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    min-width:250px;
    border:none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top:0px;
}
.main-page-button:hover {
    background: #d90004;
    background-image: -webkit-linear-gradient(top, #d90004, #e33537);
    background-image: -moz-linear-gradient(top, #d90004, #e33537);
    background-image: -ms-linear-gradient(top, #d90004, #e33537);
    background-image: -o-linear-gradient(top, #d90004, #e33537);
    background-image: linear-gradient(to bottom, #d90004, #e33537);
    text-decoration: none;
}
.main-page-button:active{
    transform: translateY(2px);
}
.ocf-control-panel{
    display:block;
    background-color:white;
    font-size:20px;
    height:20px;
    color:#303030;
}
#close-window{
    padding:10px;
}
#close-window:hover{
    color:orange;
    cursor:pointer;
}
.ocf-scroll-box{
    overflow-y: scroll;
    max-height:500px;
    width:620px;
}
.successful-message{
    display:none;
    text-align:center;
    line-height:100px;
    position: fixed;
    width: 250px;
    height:100px;
    box-shadow: 1px 1px 5px #c3c3c3;
    border:1px solid #ebebeb;
    background-color:white;
    z-index: 2; /* Make sure its above other items. */
    top: 60%;
    left: 50%;
    margin-top: -10%; /* Changes with height. */
    margin-left: -10%; /
}
.successful-message span{
    vertical-align:middle;
    font-size:16px;
    color:#67ec00;
}
.obj-container-framebox{
    display:none;
    text-align:center;
//line-height:100px;
    position: fixed;
//width: 250px;
//height:100px;
//max-height:500px;
//overflow-y: scroll;
    width:620px;
    box-shadow: 1px 1px 5px #c3c3c3;
    border:1px solid #ebebeb;
    background-color:white;
    z-index: 2; /* Make sure its above other items. */
    top:40%;
    left:40%;
    margin-top: -10%; /* Changes with height. */
    margin-left: -10%;
}
.state-bar-wrapper{
    margin-left:20px;
}
.percent-box-container{
    margin-left:140px;
    position:relative;
//border:1px solid black;
    width:70px;
}
.booking-form-table{
    font-size:16px;
    color:black;
}
.booking-form-table td{
    padding:5px;
    font-family: Montserrat;
}
.data-check-table td{
    font-size:13px;
    padding:5px;
    font-family: Montserrat;
}
.outer-percent-box{
    height:70px;
    width:70px;
    border:1px solid #69656F;
    border-radius:70px;
    background-color:#69656F;
}
.inner-percent-box{
    margin-top: 9.5px;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    width:50px;
    font-size:18px;
//border:1px solid black;
    border-radius:50px;
    text-align:center;
    line-height:50px;
    background-color:white;
}
.down-triangle-box{
    bottom:-15px;
    left:13px;
    position:absolute;
    width:0px;
    height:0px;
    border-top:23px solid #69656F;
    border-right:23px solid transparent;
    border-left:23px solid transparent;
}

.state-bar{
    border: 1px solid #cccccc;
    border-radius: 20px;
    height: 30px;
    width: 700px;
    overflow:hidden;
    background-color:#fbfbfb;
}

.green-bar{
    width:175px;
    float:left;
    border-radius: 20px;
    height:30px;
    background: #1983a3;
    background: -moz-linear-gradient(top, #1983a3 0%, #25c3df 50%, #1ab3d2 51%, #7cddec 100%);
    background: -webkit-linear-gradient(top, #1983a3 0%,#25c3df 50%,#1ab3d2 51%,#7cddec 100%);
    background: linear-gradient(to bottom, #1983a3 0%,#25c3df 50%,#1ab3d2 51%,#7cddec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1983a3', endColorstr='#7cddec',GradientType=0 );
}


@media only screen
and (min-width: 0px)
and (max-width: 1200px) {

    .pagecontainer {
        /*width:100%;*/
    }
    .headercontainer {
        margin:20px 0px;
        padding:0px 20px;
        /*min-width: 460px;*/
    }
    .contentcontainer {
        margin:0px;
        min-height:0px;
        background-color:#fff;
        border-radius:0px;
        /*min-width: 500px;*/
    }
    .footercontainer, footercontainer_suzuki {
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }

}

@media screen and (min-width: 0px) and (max-width:567px){
    #idopontvalasztodiv{
        width: 320px;
        overflow: scroll;
    }
}

.vizsgalatdoboz_hungariamed {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin:10px;
    padding:20px 10px 20px 10px;
    display: inline-block;
    background-color: #888;
    color:#fff;
    width: 202px;
    height: 200px;
    text-align: center;
    overflow: hidden;
}

.vizsgalatdoboz_hungariamed:hover {
    background-color: #888;
}

.vizsgalatdoboz_keltexmed {
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    margin:10px;
    padding:20px 10px 20px 10px;
    display: inline-block;
    background-color: #5c95af;
    color:#fff;
    width: 202px;
    height: 200px;
    text-align: center;
    overflow: hidden;
}

.vizsgalatdoboz_keltexmed:hover {
    background-color: #5c95af;
}

.vizsgalatdobozwebdoctor {
    background-color: #b90000;
    background-image: url(/images/webdoktor.png11111);
    background-size: 60px;
    background-repeat: no-repeat;
}
.vizsgalatdobozwebdoctor:hover {
    background: #b90000;
}

.vizsgalatdobozbutton_hungariamed {
    /*position:absolute;*/
    border-radius: 3px;
    /*bottom:20px;
    left: 50%;*/
    text-transform: uppercase;
    display:inline-block;
    padding:5px 10px;
    box-sizing: border-box;
    background: #aaa;
    width:150px
    
    /*margin-top:20px;*/

}

.vizsgalatdobozbutton_hungariamed:hover {
    background: #999;
}

.vizsgalatdobozbutton_keltexmed {
    /*position:absolute;*/
    border-radius: 3px;
    /*bottom:20px;
    left: 25px;*/
    text-transform: uppercase;
    display:inline-block;
    padding:5px 10px;
    box-sizing: border-box;
    background: #318bb4;
    width:150px
}

.vizsgalatdobozbutton_keltexmed:hover {
    background: #0884bd;
}

.vizsgalatdobozbuttonwebdoctor {
    /*position:absolute;*/
    border-radius: 3px;
    /*bottom:20px;
    left: 25px;*/
    text-transform: uppercase;
    display:inline-block;
    padding:5px 10px;
    box-sizing: border-box;
    background: #c02a2a;
    width:150px;
}

.vizsgalatdobozbuttonwebdoctor:hover {
    background: #830b0b;
}
.recilistacell {
	display:table-cell;
	padding:3px 3px 3px 0px;
	vertical-align: middle;
}
.covid-oltas-lista{
    border-collapse: collapse;
    width:100%;
    /*border:1px solid black;*/
}

.covid-oltas-lista tr:first-child td{
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.covid-oltas-lista td{
    border-bottom:1px solid black;
    padding:10px 5px 10px;
    text-align:center;
}
.covid-oltas-lista td:first-child, .covid-oltas-lista td:last-child{
    white-space: nowrap;
}
.covid-oltas-mentes-button {
    height: auto !important;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 31px !important;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    width:90%;
}
.covid-oltas-mentes-button:hover {
	background-color:#5cbf2a;
}
.covid-oltas-mentes-button:active {
	position:relative;
	top:1px;
}
.oltas-mezo{
    width:90%;
    padding :5px 15px 5px;
}
.covid-oltas-buttons{
    font-size:18px;
    cursor:pointer;
}

strong {
    font-family: robotobold;
}
.accordion-button:not(.collapsed){
    background-color:white !important;
    color:white;
}


.freesubidopontbutton {
    display:inline-block;
    margin-top:4px;
    background:#0FBE7C;
    color:#fff;
    padding:2px 4px;
    border-radius: 4px;
    transition: all .1s linear;
}

.freesubidopontbutton:hover {
    background:#0FCE6C;
    text-decoration: none;
}

.bmebutton {
    display:inline-block;
    border-radius: 3px;
    padding:10px 10px;
    box-sizing: border-box;
    text-decoration: none;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(60,60,60,1) 30%, rgba(200,0,0,1) 70%);
    color:white;
    font-size:16px;
}

.bmebutton:hover {
    text-decoration: none;
}

.bmecolumn1 {
    display:block;
    padding-top:10px;
    margin-top:10px;
}

.bmecolumn2 {
    display:block;
    /*background:#a9d099;*/
    /*color:#fff;*/
    padding:10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
    border-top:1px solid #888;
    border-bottom:1px solid #888;
}

.bmeservicebox {
    display:inline-block;
    width:165px;
    height:165px;
    background-position:center;
    background-repeat: no-repeat;
    padding:0px;
    margin:10px 10px 0px 0px;
    vertical-align: top;
    cursor:pointer;
    border:2px solid #fff;
    user-select: none;
}

.bmeservicebox:hover {
    /*border:2px solid #888;*/
}

.btn-hungariamed{
    --bs-btn-color: #fff;
    --bs-btn-bg: #b90000;
    --bs-btn-border-color: #b90000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a60000;
    --bs-btn-hover-border-color: #a60000;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a60000;
    --bs-btn-active-border-color: #a60000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b90000;
    --bs-btn-disabled-border-color: #b90000;
}

form#suzuki-ghc-registration-form label.checkbox{
    width: 90%;
    margin-left:5px;
}
form#aldi-fifi-registration-form label.checkbox{
    width: 90%;
    margin-left:5px;
}
form#astotec-registration-form label.checkbox{
    width: 90%;
    margin-left:5px;
}
.form-check-input:checked{
    background-color: #b90000 !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #b90000 !important;
 }

 .form-color{
    color: #212529;
 }

 @font-face {
    font-family: SuzukiProRegular;
    src: url(/css/fonts/SuzukiPRORegular.ttf);
}

@font-face {
    font-family: SuzukiProBold;
    src: url(/css/fonts/SuzukiPROBold.ttf);
}