<!DOCTYPE HTML>
<html>
	<head>
		<title>Vizsgálati lap</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		
		<style>
			body {
				font-family:arial;
				font-size:12px;
			}
			table {
			    border-collapse: collapse;
			}

			table, th, td {
			    border: 1px solid black;
			}
			td {
				padding:4px;
			}
	</style>		
		
	</head>
<body>
	
<div style='width:100%;'>
	
<h1>#vlaptipus# vizsgálati lap</h1>
	
<div>
	Név: <b>#nev#</b> &nbsp;&nbsp;&nbsp;Időszakos vizsgálat oka:<br/> 
	Milyen időközönként végzendő:
</div>
	
<table style='width:100%;border:1px solid #888;margin-top:20px;'>
<tr>
	<td width='150' align='center'>Vizsgálat fajtája,<br/>időpontja</td>
	<td align='center'>Panaszok, vizsgálati adatok</td>
	<td width='150'>Vizsgálatot végző orvos megállapítása és aláírás</td>
</tr>	
<tr>
	<td height='500'>&nbsp;</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>	
</table>




</div>
</body>