<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
<title>Alkalmassági igazolás</title>
<script>
function selfPrint() {
	//return;
	self.print();
	self.close();
	//window.history.back();
}
</script>
</head>
<body onload='hselfPrint()'>


<div style='width:700px;'>

<div style='text-align:right;'><img style='width:200px;' src='images/hmed_pecset_ff.jpg' alt='' /></div>
<div style='margin-top:-40px;'>

<div style='padding-top:-80px;'>Foglalkozás-egészségügyi szolgálat megnevezése:</div>
<h2 style='text-align:center;'>Elsőfokú munkaköri alkalmassági vélemény</h2>

<div>A vizsgálat eredménye alapján <b>#nev#</b> munkavállaló</div>

<div style='margin-top:#sorkoz#px;'>Születési dátum: <b>#szuldatum#</b></div>

<div style='display:table;margin:20px 0px;width:100%;'>


<div style='display:table-cell;text-align:center;'><div style='#i_alkalmassag#'>ALKALMAS</div></div>
<div style='display:table-cell;text-align:center;'><div style='#ik_alkalmassag#'>IDEIGLENESEN NEM ALKALMAS</div></div>
<div style='display:table-cell;text-align:center;'><div style='#n_alkalmassag#'>NEM ALKALMAS</div></div>

</div>

<div style='margin-top:#sorkoz#px;'>Nevezett munkaköri alkalmasságát érintő korlátozás: <b>#alkalmassagkorl#</b></div>

<div style='margin-top:#sorkoz#px;'>Ideiglenesen nem alkalmas minősítés esetén a legközelebbi vizsgálat ideje <b>#alkalmassagikhet#</b> hét múlva.</div>
<div style='margin-top:#sorkoz#px;'>Tüdőszűrés érvényessége: <b>#tudoszuroervenyesseg#</b></div>

<div style='margin-top:#sorkoz#px;'>Kiadva: #maidatum#</div>

#alkalmasextra#

<div style='margin-top:#sorkoz#px;'>Kelt: #idopont#</div>


<div style='float:right;width:300px;text-align:center;'>
________________________<br/>véleményező orvos
</div>
<br clear='all'/>


</div>
</div>


</body>
</html>