<!DOCTYPE HTML>
<html>
	<head>
		<title>Menedzser kérdőív</title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		
		<style>
			body {
				font-family:arial;
				font-size:12px;
			}
			table {
			    border-collapse: collapse;
			}

			table, th, td {
			    border: 1px solid black;
			}
			td {
				padding:4px;
			}
	</style>		
		
	</head>
<body>
	
<div style='width:700px;'>
	
<h1>Egyéni egészségügyi adatlap</h1>
	
<div>
	Vizsgálat fajtája:<br/>
	Vizsgálat dátuma: ................................ Vizsgálóorvos: ........................................................................
</div>
	
<table style='border:1px solid #888;margin-top:20px;'>
<tr>
	<td>1.</td>
	<td colspan='6'><b>Név:</b> #nev#</td>
</tr>	
<tr>
	<td>2.</td>
	<td colspan='6'><b>Foglalkozás:</b> #foglalkozas#</td>
</tr>	
<tr>
	<td>3.</td>
	<td colspan='6'><b>Születési hely, dátum:</b> #szuletesihelyesdatum#</td>
</tr>	
<tr>
	<td>4.</td>
	<td colspan='6'><b>Anyja neve:</b> #anyjaneve#</td>
</tr>	
<tr>
	<td>5.</td>
	<td colspan='6'><b>Lakcím:</b> #lakcim#</td>
</tr>	
<tr>
	<td>6.</td>
	<td colspan='6'><b>Levelezési cím:</b></td>
</tr>	
<tr>
	<td>7.</td>
	<td colspan='6'><b>Telefonszám:</b> #telefon#</td>
</tr>	
<tr>
	<td>8.</td>
	<td colspan='6'><b>TAJ szám:</b> #taj#</td>
</tr>	
<tr>
	<td>9.</td>
	<td colspan='6'><b>Email cím:</b> #email#</td>
</tr>	
<tr>
	<td rowspan='16'>10.</td>
	<td colspan='6'><b>Édesapjánál, édesanyjánál,  testvérénél volt-e, van-e</b></td>
</tr>	
<tr>
	<td width='50%'></td>
	<td width='10'>apa:</td>
	<td width='10'>anya:</td>
	<td width='10'>testvér:</td>
	<td width='50%'>részletezve:</td>
</tr>	
<tr>
	<td>idegrendszeri és mentális zavarok</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>elhízás</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>magas vérnyomás</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>érelmeszesedés</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>szív-koszorúér betegség</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>hirtelen szívhalál</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>agyvérzés</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>cukorbetegség</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>emésztőszervi betegség</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>légzőszervi betegség</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>jóindulatú daganatos betegség</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>rosszindulatú daganatos megbetegedés</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>genetikai rendellenesség</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	
<tr>
	<td>Egyéb</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
</tr>	



<tr>
	<td rowspan='4'>11.</td>
	<td colspan='2'><b>Átlagos napi munkaideje</b></td>
	<td colspan='3'><input type='checkbox' /> 8 óra</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> 8-12 óra</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> 12 óránál több</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> hétvégén is</td>
</tr>


<tr>
	<td rowspan='7'>12.</td>
	<td colspan='2'><b>Jelenleg dohányzik (pipa, cigaretta, szivar)?</b> </td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen, napi 15 db-nál kevesebb</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen, napi 15 db-nál több</td>
</tr>
<tr>
	<td colspan='2'><b>Mióta dohányzik?</b></td>
	<td colspan='3'>............. éve</td>
</tr>
<tr>
	<td colspan='2'><b>Korábban dohányzott?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='2'><b>Mióta nem dohányzik?</b></td>
	<td colspan='3'></td>
</tr>


<tr>
	<td rowspan='4'>13.</td>
	<td colspan='2'><b>Fogyaszt-e szeszes italt?</b> </td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen, ritkán keveset</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen, naponta</td>
</tr>
<tr>
	<td colspan='5'>sör .... üveg/nap&nbsp;&nbsp;&nbsp;bor ..... dl/nap&nbsp;&nbsp;&nbsp;tömény ..... dl/nap</td>
</tr>


<tr>
	<td rowspan='3'>14.</td>
	<td colspan='5'><b>Fogyaszt-e kávét (napi mennyisége, fajtája, ízesítés módja)?</b></td>
</tr>
<tr>
	<td colspan='5'>&nbsp;</td>
</tr>
<tr>
	<td colspan='5'><b>Naponta hányszor étkezik?</b></td>
</tr>



<tr>
	<td rowspan='3'>15.</td>
	<td colspan='2'><b>Fő étkezésének ideje (Mikor eszik meleg ételt?):</b></td>
	<td colspan='3'><input type='checkbox' /> reggel</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> délben</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> este</td>
</tr>



<tr>
	<td rowspan='3'>16.</td>
	<td colspan='2'><b>Tart-e valamilyen diétát?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Diéta típusa:</b> </td>
</tr>

<tr>
	<td rowspan='2'>17.</td>
	<td colspan='5'><b>Napi folyadékfogyasztás mennyisége, fajtája:</b></td>
</tr>
<tr>
	<td colspan='5'>&nbsp;</td>
</tr>

<tr>
	<td rowspan='2'>18.</td>
	<td colspan='5'><b>Húsfogyasztása (gyakorisága, hús fajtája):</b></td>
</tr>
<tr>
	<td colspan='5'>&nbsp;</td>
</tr>

<tr>
	<td rowspan='2'>19.</td>
	<td colspan='5'><b>Sportol-e valamit (típusa, gyakorisága)?</b></td>
</tr>
<tr>
	<td colspan='5'>&nbsp;</td>
</tr>


<tr>
	<td rowspan='14'>20.</td>
	<td colspan='5'><b>Volt-e, illetve van-e ilyen jellegű megbetegedése?</b></td>
</tr>
<tr>
	<td colspan='5'><b>légzőszervi betegség</b> (asztma, hörghurut, tüdőgyulladás, TBC, egyéb)</td>
</tr>
<tr>
	<td colspan='5'><b>mozgásszervi betegség</b> (csontok, izületek, gerinc, porckorong, izmok, kötőszövetek, inak, izületi fájdalom, duzzanat, mozgáskorlátozottság)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>szív- és érredszeri betegség</b> (magas vérnyomás, keringési problémák, szívinfarktus, szívritmuszavar, szívbillentyűhiba, agyi érkrízis, érszűkület, visszérbetegség, vagy más<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>idegrendszer és mentális zavarok</b> (fejfájás, szédülés, epilepszia, bénulás, neurózis, depresszió, egyéb, öngyilkossági kísérlet)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>emésztőrendszer</b> (rekeszsérv, gyomor- és nyombélfekély, gyulladás, vérzés, aranyér, puffadás,	székrekedés, hasmenés, sárgaság, májbetegség, epehólyag- és hasnyálmirigyek problémák vagy más rendellenességek)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>Rendszeres-e a székletürítése?</b></td>
</tr>
<tr>
	<td colspan='5'><b>húgyutak, nemi szervek</b> (vese-, húgyvezeték-, húgyhólyag-, prosztataproblémák, here vagy mellékhere gyulladás, menstruációs zavarok, petefészekgyulladás, vesekő, vér és albumin a vizeletben, vizeléskor csípő, égő érzés vagy más rendellenességek)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>hormon-, anyagcsere-, vérképzőszervi betegségek</b> (cukorbetegség, magas vérzsírszint köszvény, pajzsmirigy- vagy hormonális zavarok, vérszegénység, véralvadási zavarok, egyéb)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>immunrendszer vagy fertőző betegségek</b> (AIDS, HIV fertőzés, nemi úton terjedő betegségek, májgyulladás, trópusi betegségek, egyéb)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>bőrbetegségek</b> (ekcéma, allergia, pikkelysömör, gombás megbetegedés, bőrrák, egyéb)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>szem</b> (látásélesség csökkenése, fénytörési hiba, retinarendellenességek, zöldhályog, szürkehályog, egyéb)<br/><br/></td>
</tr>
<tr>
	<td colspan='5'><b>fül</b> (hallásromlás, középfülgyulladás, otoszklerózis, egyéb)<br/><br/>Halláscsökkenés mértéke: ................  Jobb: ......................  Bal: ...........</td>
</tr>
<tr>
	<td colspan='5'><b>egyéb megbetegedések, működési zavar, probléma</b> (elváltozások, daganatos megbetegedés, veleszületett rendellenességek, stb.)<br/><br/></td>
</tr>




<tr>
	<td rowspan='3'>21.</td>
	<td colspan='2'><b>Volt-e balesete, sérülése, mérgezése?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Mi és mikor?</b><br/><br/></td>
</tr>


<tr>
	<td rowspan='3'>22.</td>
	<td colspan='2'><b>Volt-e valamilyen műtéte?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Mi és mikor?</b><br/><br/></td>
</tr>


<tr>
	<td rowspan='3'>23.</td>
	<td colspan='2'><b>Állt-e korábban kórházi kezelés alatt?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Mikor és miért?</b><br/><br/></td>
</tr>

<tr>
	<td rowspan='3'>24.</td>
	<td colspan='2'><b>Részesül-e rendszeres gyógykezelésben?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Milyen betegség miatt?</b><br/><br/></td>
</tr>


<tr>
	<td rowspan='2'>25.</td>
	<td colspan='2'><b>Volt-e betegállományban az elmúlt egy évben hosszabb ideig?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>

<tr>
	<td rowspan='2'>26.</td>
	<td colspan='2'><b>Volt-e az elmúlt 2 évben mellkas röntgen vizsgálaton (tüdőszűrésen)?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>

<tr>
	<td rowspan='5'>27.</td>
	<td colspan='2'><b>Járt-e az elmúlt 2 évben nőgyógyászati rákszűrésen?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='2'><b>Járt-e az elmúlt 2 évben emlővizsgálaton?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Menstruációja rendszeres-e?</b></td>
</tr>

<tr>
	<td rowspan='2'>28.</td>
	<td colspan='2'><b>Részesült-e fogászati ellátásban, illetve szűrésben az elmúlt 2 évben?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>


<tr>
	<td rowspan='3'>29.</td>
	<td colspan='2'><b>Szed-e rendszeresen gyógyszert?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Mit szed? Mennyit szed?</b><br/><br/></td>
</tr>


<tr>
	<td rowspan='3'>30.</td>
	<td colspan='2'><b>Van-e gyógyszerérzékenysége?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Milyen gyógyszerre?</b><br/><br/></td>
</tr>

<tr>
	<td rowspan='3'>31.</td>
	<td colspan='2'><b>Van-e allergiája?</b></td>
	<td colspan='3'><input type='checkbox' /> nem</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> igen</td>
</tr>
<tr>
	<td colspan='5'><b>Allergia típusa?</b></td>
</tr>


<tr>
	<td rowspan='4'>31.</td>
	<td colspan='2'><b>Van-e alvászavara?</b></td>
	<td colspan='3'><input type='checkbox' /> nincs</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> van, nehezen alszik el</td>
</tr>
<tr>
	<td colspan='2'></td>
	<td colspan='3'><input type='checkbox' /> van, túl korán ébred</td>
</tr>
<tr>
	<td colspan='5'><b>Egyéb:</b></td>
</tr>



</table>
	
<div style='page-break-after: always;'></div>

<div style='margin-top:20px;padding:5px;font-size:18px;font-weight:bold;text-align:center;border:2px solid #000;'>
	Fizikális Vizsgálat
</div>
<div style='border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;padding:20px;'>
<table style='border:0px;width:100%;'>
	<tr>
		<td style='border:0px;'><b>Vérnyomás:</b> ............. Hgmm</td>
	</tr>
	<tr>
		<td style='border:0px;'><b>Pulzus:</b> ...................... /min</td>
	</tr>
	<tr>
		<td style='border:0px;'><b>Testmagasság:</b> ............. cm</td>
	</tr>
	<tr>
		<td style='border:0px;'><b>Testsúly:</b> ..................... kg</td>
	</tr>
	<tr>
		<td style='border:0px;'><b>EKG:</b> ..................................</td>
	</tr>
	<tr>
		<td style='border-bottom:0px;border-right:0px;border-left:0px;border-top:1px solid #000;'><b>Jelenlegi panasza:</b><br/><br/><br/><br/><br/></td>
	</tr>
</table>
</div>

<div style='margin-top:20px;padding:5px;font-size:18px;font-weight:bold;text-align:center;border:2px solid #000;'>
	Status
</div>
<div style='border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;padding:20px;'>
<table style='border:0px;'>
	<tr>
		<td style='border:0px;'><b>Negatív belgyógyászati status:</b></td>
		<td style='border:0px;'><input type='checkbox' /> igen</td>
	</tr>
	<tr>
		<td style='border:0px;'></td>
		<td style='border:0px;'><input type='checkbox' /> nem</td>
	</tr>
	<tr>
		<td style='border:0px;'><b>Eltérések:</b><br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Fej, nyak:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Idegrendszer:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Pajzsmirigy:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Emlők:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Tüdő:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Szív:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Has:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Mozgásszervek:<br/><br/></td>
	</tr>
	<tr>
		<td style='border:0px;'>Bőr:<br/><br/></td>
	</tr>
</table>
</div>

<table style='margin-top:20px;border:0px;'>
	<tr>
		<td style='padding-right:100px;border:0px;'>Dátum:<br/><br/>........................................................</td>
		<td style='border:0px;'>Aláírás:<br/><br/>........................................................</td>
	</tr>
</table>




</div>
</body>