@media print{
	body{
		font-family:calibri;
	}
	#patient-header{
		border-collapse: collapse;
		font-size:14px;
		width:100%;
	}
	#patient-header td{
		padding:5px;
		border:1px solid black;
	}
	#patient-header tr td:nth-child(1){
		width:100px;
	}
	#patient-header tr:nth-child(1) td,
	#patient-header tr:nth-child(2) td{
		border:none;
	}

	#examination-list{
		margin-top:20px;
		font-size:16px;
		border-collapse: collapse;
		width:100%;
	}
	#examination-list tr:nth-child(1) td{
		text-align:center;
		font-weight:bold;
		padding:10px;
		border:none;
	}
	#examination-list td{
		border:1px solid black;
	}
	#examination-list td:nth-child(1){
		text-align:left;
		vertical-align:top;
		border:1px solid black;
		width:600px;
		height:40px;
	}
	#examination-bottom-list{
		margin-top:20px;
		border-collapse: collapse;
		font-size:16px;
		width:100%;
	}
	#examination-bottom-list td:nth-child(1),
	#examination-bottom-list td:nth-child(3){
		width:140px;
	}
	#examination-bottom-list td{
		border: 1px solid black;
	}
	#protocol-control-table{
		display:none;
	}
}